<div id="<%= dom_id blurb %>">
  <p>
    <strong>Title:</strong>
    <%= blurb.title %>
  </p>
  <% if @commit %>
    <%# If the user has committed their birth data, then generate output based on their signs for all blurbs %>
    <p>
      <strong>Your Custom Blurb Output:</strong></p>
      <p class="h4"><%= render html: blurb_me( blurb, params, @rising, @julday ) %>
    </p>
  <% end %>

  <p>
    <strong>Blurb template:</strong>
    <%= simple_format( blurb.text ) %><%# https://apidock.com/rails/v4.1.8/ActionView/Helpers/TextHelper/simple_format %>
  </p>

  <p>
    <strong>Sign replacements (12 per planet in order Aries, ..., Pisces):</strong>
    <%= simple_format( blurb.planet_replacements ) %><%# https://apidock.com/rails/v4.1.8/ActionView/Helpers/TextHelper/simple_format %>
  </p>

</div>
