<div id="<%= dom_id blurb %>">
  <p>
    <strong>Title:</strong>
    <%= blurb.title %>
  </p>
  <% if @commit %>
    <%# If the user has committed their birth data, then generate output based on their signs for all blurbs %>
    <% if @date_search[/(?<=T)..:../] == "12:00" && blurb.text[/@(rising|midheaven|ascendant|asc|MC|IC|\w+_house)/i] %>
      <%# If the user's birth time is 12:00 (the default) and the blurb contains houses, warn them that a house-based reading won't work accurately if no true birth time is given.  %>
      <p>
        <strong style="background-color: #000000;color: red">Warning: your birth time is set as the default (12:00 PM) but this blurb needs an accurate birth time to be correct</strong></p>
    <% end %>
    <p>
      <strong>Your Custom Blurb Output:</strong></p>
      <%# <p class="h4"><%= render html: blurb_me( blurb, params, @rising, @julday ) %>
      <%# p linkify( simple_format( blurb_me( blurb, params, @rising, @julday )), "h4"  ) %>
      <%# <p class="h4"> # not needed now, because linkify + simple_format gives <p class="h4"> tags to each paragraph %>
      <%= sanitize linkify( simple_format( blurb_me( blurb, params, @rising, @julday )), "h4"  ) %>
      <%= social_share_button_tag(blurb.title) %>
      <%# </p> %>
  <% end %>
  <% if !@commit || @commit && !current_page?(:controller => 'blurbs') %><%# Don't show template style stuff if the user has input their birth data on blurbs page %>
    <p>
      <strong>Blurb template:</strong>
      <% p linkify( simple_format( blurb.text ), "h4" )  %>
      <%= sanitize linkify( simple_format( blurb.text ), "h4" ) %><%# https://apidock.com/rails/v4.1.8/ActionView/Helpers/TextHelper/simple_format %>
    </p>
  <% end %>
  <% if !@commit %><%# Only show replacements if you didn't hit commit %>
    <p>
      <strong>Sign replacements (12 per planet in order Aries, ..., Pisces):</strong>
      <%= simple_format( blurb.planet_replacements ) %><%# https://apidock.com/rails/v4.1.8/ActionView/Helpers/TextHelper/simple_format %>
    </p>
  <% end %>

  <p>
    <strong>Blurb template:</strong>
    <%# p linkify( simple_format( blurb.text ), "h4" )  %>
    <%= sanitize linkify( simple_format( blurb.text ) ) %><%# https://apidock.com/rails/v4.1.8/ActionView/Helpers/TextHelper/simple_format %>
  </p>

  <p>
    <strong>Sign replacements (12 per planet in order Aries, ..., Pisces):</strong>
    <%= simple_format( blurb.planet_replacements ) %><%# https://apidock.com/rails/v4.1.8/ActionView/Helpers/TextHelper/simple_format %>
  </p>

</div>
