<%= form_with(model: blurb) do |form| %>
  <% if blurb.errors.any? %>
    <div style="background-color: #8b0000">
      <h2><%= pluralize(blurb.errors.count, "error") %> prohibited this blurb from being saved:</h2>

      <ul>
        <% blurb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @prefilled_blurb %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, :placeholder => example_title, :value => @prefilled_blurb&.title || "" %>
    </div>

    <div>
      <%= form.label :text, style: "display: block" %>
      <%= form.text_area :text, :size => "80x5", :placeholder => example_text, :value => @prefilled_blurb&.text || "" %>
    </div>

    <div>
      <%= form.label :planet_replacements, style: "display: block" %>
      <%#= form.label "Planet replacements (12 per row: aries, ..., pisces)", style: "display: block" %>
      <%= form.text_area :planet_replacements, :size => "80x10", :placeholder => example_planet_replacements, :value => @prefilled_blurb&.planet_replacements || "" %>
    </div>
  <% else %><%# No prefilled blurb, don't change values - important to allow errors to return your erroneous values %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, :placeholder => example_title %>
    </div>

    <div>
      <%= form.label :text, style: "display: block" %>
      <%= form.text_area :text, :size => "80x5", :placeholder => example_text %>
    </div>

    <div>
      <%= form.label :planet_replacements, style: "display: block" %>
      <%#= form.label "Planet replacements (12 per row: aries, ..., pisces)", style: "display: block" %>
      <%= form.text_area :planet_replacements, :size => "80x10", :placeholder => example_planet_replacements %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
