<h1>Create Your Own Blurb Generator</h1>

<%= render "guidelines" %><%# Guidelines for writing a blurb %>
<%= render "form", blurb: @blurb %>

<br>

<div>
  <%= link_to "Back to blurbs", blurbs_path %>
</div>
</br>
  
<p><%= link_to "Back to Home (Blurb me!)", root_path(params.permit(*permitted_params)) %></p>
<p><%= link_to "Birth horoscope reading (Read me!)", reading_path(params.permit(*permitted_params)) %></p>