<p style="color: green"><%= notice %></p>

<%= render "birth_input" %>
<% unless @commit %>
  <%# Render the basic text version of the blurb generator if the user hasn't committed their own birth data %>
  <%= render @blurb %>
<% else %>
  <%# If the user has committed their birth details, then show their blurb result for this blurb generator instead. %>
  <p><strong>Your blurb:</strong></p>
  <%# <p class="h4"><%= render html: blurb_me( @blurb, params, @rising, @julday ) % ></p> %>
  <p class="h4"><%= simple_format( blurb_me( @blurb, params, @rising, @julday ) ) %></p>
  <hr>
  
  <%= render @blurb %>
  <%# <p>
    <strong>Planet replacements:</strong>
    <%= simple_format( @blurb.planet_replacements ) %>
  <%#</p> %>
<% end %>
<div>
  <%= link_to "Edit this blurb", edit_blurb_path(@blurb) %> |
  <%= link_to "Make your own version", new_blurb_path(@blurb) %> |
  <%= link_to "Back to blurbs", blurbs_path %>

  <%#= button_to "Destroy this blurb", @blurb, method: :delete %>
</div>
</br>
<p><%= link_to "Back to Home (Blurb me!)", root_path(params.permit(:rising, :birth_time, :time_zone, :commit)) %></p>
<p><%= link_to "Birth horoscope reading (Read me!)", reading_path(params.permit(:rising, :birth_time, :time_zone, :commit)) %></p>
<p><%= link_to "More Blurb Generators (User-created)", blurbs_path(params.permit(*permitted_params)) %></p>
<p><%= link_to "Create Your Own Blurb Template", new_blurb_path(params.permit(*permitted_params)) %></p>