<%# <section class="container"> %>
  <p><h1>Astrology Blurb Generator</h1></p>
  <%= render "blurbs/birth_input" %><%# Show the birth input form for user to provide birth details %>
  <% if false %>
    <p><%= render plain: params %></p>
    <p><%= render plain: [swe_houses(@julday,@lat, @long)[1],@date_search,@julday,Swe4r::swe_houses(@julday,@lat, @long,'Placidus'[0].ord)[1],swe_calc_ut(julday(@date_search),'Sun'),Swe4r::swe_calc_ut(2447980.11440, Swe4r::SE_SUN, Swe4r::SEFLG_MOSEPH|Swe4r::SEFLG_SPEED|Swe4r::SEFLG_EQUATORIAL), @utc, @date_search.to_datetime.in_time_zone(@time_zone).strftime('%z')] %></p>
  <% end %>

  <%# Swe4r - Swiss Ephemeris for Ruby https://www.rubydoc.info/gems/swe4r %>
  <%# swe_julday(year, month, day, hour) %>
  <%# <p><%= jd = Swe4r::swe_julday(1990, 3, 29, 14) %></p>
<% if false %>
  <p><%#= Ephem.chart_bodies %><%= [@date_search] %></p>
<% end %>
  <% rising_lon = 0 %>
  <% if params[:commit] #params[:time_zone] && params[:birth_time] %>
    <%# User didn't know their rising sign but submitted a form, calculate it for them %>
    <% sun_lon = swe_calc_ut(@julday, 'Sun')[0] %>
    <%# rising_lon = swe_houses(@julday,@lat, @long)[1] # swe_houses first element is always 0, next is Asc lon. %>
    <%# @rising = lon2sign(rising_lon) %>
    <% @rising = rising_sign( @julday, @lat, @long ) %>
    <% p @julday, '<jd rlon>', rising_lon, @rising, swe_houses(@julday,@lat, @long)[1] %>
  <%#### Only show results if form was submitted: %>
    <% if @commit %>
      <% pdata, pstrings, psigns = planet_data(@julday) %>
      <% p pstrings.join(", ") %>
    <% end %>
    <% rising_number = zodlist.index(@rising) %>
    </br>
    <p class="h4">
    <%= blurbify(pdata['sun'][0],pdata['moon'][0],pdata['mercury'][0],pdata['venus'][0],pdata['mars'][0],rising_number) %>
    <%#= blurbify(today.sun[0],today.moon[0],today.mercury[0],today.venus[0],today.mars[0],rising_number) %>
    </p>
    </br>
  <% end %>
  
  <% if @commit && false %><%# Show planet positions if the user has submitted their birth data. %>
    <%#<p><%= "#{planet.capitalize} in #{lon2sign(lon)} (#{(lon%30).to_i}°#{(lon%1*60).round}')" !!sf-></p>%>
    <p><%= "Life path #{numerology(@date_search)}, lunar year of the #{ eastern(@date_search) }." %></p>
    <p><%= "#{@rising}-rising (#{(rising_lon%30).to_i}°#{(rising_lon%1*60).round}')" %></p>
    <p><%= pstrings.join(", ") %></p>
  <% end %>
  <p>This blurb template is the creative property of <a href="https://zodiac--signs.tumblr.com">zodiac--signs.tumblr.com</a> (Crystal Leigh Melbourne), check them out!</p>
  <p class="blurb"><a href="https://zodiac--signs.tumblr.com"><%= image_tag 'Personality Blurb Image by zodiac--signs.webp' %></a></p><%# Tumblr image that this blurb web app was inspired by - zodiac--signs.tumblr.com %>
  <p><%= link_to "Try Another One (Roast me!)", roast_path(params.permit(*permitted_params)) %></p>
  <p><%= link_to "Birth horoscope reading (Read me!)", reading_path(params.permit(*permitted_params)) %></p>
  <p><%= link_to "More Blurb Generators (User-created)", blurbs_path(params.permit(*permitted_params)) %></p>
  <p><%= link_to "Create Your Own Blurb Template", new_blurb_path(params.permit(*permitted_params)) %></p>
<%# </section> %>