<%# <section class="container"> %>
  <p><h1>Astrology Reading</h1></p>
  <p><%= 'Please enter your birth time and location:' %></p>
  <%= form_with method: :get do |f| %>
    <%= f.label 'Birth Time' %>
    <%= f.datetime_local_field :birth_time, value: @date_search %><br>
    <%= f.label :birth_city %>
    <%= text_field_tag(:birth_city, @birth_city, default: @birth_city, size: 50) %>
    <p><%= f.submit "Read me!" %></p>
  <% end %>
  <% Swe4r::swe_set_ephe_path('') %>
  <% p ['lat,long,,swesettop',@lat,@long], Swe4r::swe_set_topo(@lat, @long, 100) %>
  <%# Swe4r::t_swe_set_jpl_file("app/lib/linux_p1550p2650.430") - can't use this function with Swe4r 0.0.0 %>
  <% Swe4r::swe_set_topo(@lat, @long, 100) %>
  
  <% if false %>
    <p><%= render plain: params %></p>
    <p><%= render plain: [swe_houses(@julday,@lat, @long)[1],@date_search,@julday,Swe4r::swe_houses(@julday,@lat, @long,'Placidus'[0].ord)[1],swe_calc_ut(julday(@date_search),'Sun'),Swe4r::swe_calc_ut(2447980.11440, Swe4r::SE_SUN, Swe4r::SEFLG_MOSEPH|Swe4r::SEFLG_SPEED|Swe4r::SEFLG_EQUATORIAL), @utc, @date_search.to_datetime.in_time_zone(@time_zone).strftime('%z')] %></p>
  <% end %>
  <% rising_lon = 0 %>
  <% if @rising == "Unknown" && params[:commit] #params[:time_zone] && params[:birth_time] %>
    <%# User didn't know their rising sign but submitted a form, calculate it for them (ROUGHLY)
    # Global average sunrise time ~ 6:20 am (https://www.timeanddate.com/sun/@8469718), assume rising sign is equally spaced from sun sign in zodiac as it is in hours relative to a full day. %>
    <%# sun_lon = today.sun[0] # Ephemeris.rb method - deprecated %>
    <% sun_lon = swe_calc_ut(@julday, 'Sun')[0] %>
    <%# birth_hour = eval(@date_search[/(?<=T)\d\d:\d\d/].sub(?:,'+1.0/60*')) %>
    <%# hours_past_rise = birth_hour - 6.33 %>
    <%# rising_lon = (sun_lon + hours_past_rise * 15 ) % 360 # 2 hours is 30° %>
    <% rising_lon = swe_houses(@julday,@lat, @long)[1] # swe_houses first element is always 0, next is Asc ra. %>
    <% @rising = lon2sign(rising_lon) %>
  <% end %>
  <% p @julday, '<jd rlon>', rising_lon, @rising, swe_houses(@julday,@lat, @long)[1] %>
  <% if @commit && false %><%# Show planet positions if the user has submitted their birth data. %>
    <p><%= "Life path #{numerology(@date_search)}, lunar year of the #{ eastern(@date_search) }." %></p>
    <p><%= "#{@rising}-rising (#{(rising_lon%30).to_i}°#{(rising_lon%1*60).round}')" %>
  <% end %>
  <%#### Only show results if form was submitted: %>
  <% if @commit %>
    <% pdata, pstrings, psigns = planet_data(@julday) %>
    <% p pstrings.join(", ") %>
    <% if @commit && false  %><%# Show planet positions if the user has submitted their birth data. %>
      <%#<p><%= "#{planet.capitalize} in #{lon2sign(lon)} (#{(lon%30).to_i}°#{(lon%1*60).round}')" !!sf-></p>%>
      <p><%= pstrings.join(", ") %></p>
    <% end %>
    <% rising_number = zodlist.index(@rising) %>
    </br>
    <% @sun, @moon, @mercury, @venus, @mars, @jupiter, @saturn, @uranus, @neptune,
      @pluto = psigns %>
    <%####  Astrology Reading from here:  #####%>
    <%# Primal Astrology %>
    <h3><%= "Western-Eastern combination (#{@sun}-#{ @lunar = eastern(@date_search) }):" %></h3>
    <p><%= @primal_desc[ primal_num = ( @sun_num = zodlist.index(@sun) )*12 + eastlist.index(@lunar) ] %></p>
    <p><%= copyright("https://www.primalastrology.com/#{ @primal_names[ primal_num ].downcase.tr(' ','_') }.html") %></p>
    </br>
    <%# Sun-Moon Combination %>
    <h3><%= "Sun-Moon combination (#{@sun}-#{@moon}):" %></h3>
    <p><%= @sun_moon_desc[ @sun_num * 12 + zodlist.index(@moon) ] %></p>
    <p><%= copyright("http://www.astrology-numerology.com/sun-moon.html") %></p>
    </br>
    <%# Rising %>
    <h3><%= "Rising sign (#{@rising}):" %></h3>
    <p><%= @rising_desc[ rising_number ] %></p>
    <p><%= copyright("https://web.archive.org/web/20190401063426/https://theastrocodex.com/#{ @rising.downcase }-ascendant/") %></p>
    </br>
    <%# Mars %>
    <h3><%= "Mars sign (#{@mars}):" %></h3>
    <p><%= @mars_desc[ zodlist.index(@mars) ] %></p>
    <p><%= copyright("http://www.sexualastrology.com/planetmars.html") %></p>
    </br>
    <%# Venus %>
    <h3><%= "Venus sign (#{@venus}):" %></h3>
    <p><%= @venus_desc[ zodlist.index(@venus) ] %></p>
    <p><%= copyright("http://www.sexualastrology.com/planetvenus.html") %></p>
    </br>
    <%# North Node %>
    <h3><%= "North Node (#{@northnode = lon2sign( swe_calc_ut(@julday, 'MEAN_NODE')[0] )}):" %></h3>
    <% @northnode %>
    <p><%= @nn_desc[ zodlist.index(@northnode) ] %></p>
    <p><%= copyright("http://astrologyclub.org/birth-chart-interpretations/north-node-in-signs/") %></p>
    </br>
    <h3><%= "Pluto generation (#{@pluto}):" %></h3>
    <p><%= @pluto_desc[ pluto_num = zodlist.index(@pluto) ] %></p>
    <% pluto_url = pluto_num < 3 || pluto_num > 6 ?  "http://astrologyk.com/zodiac/planets/pluto/#{ zodlist[pluto_num] }" : 
        pluto_num < 5 ? "https://mysticlivingtoday.com/view_page.php?ID=1487" : "http://siderealist.com/pluto.html" %>
    <p><%= copyright(pluto_url) %></p>
    </br>
    <%# Numerology (Life Path) %>
    <h3><%= "Numerology (Life Path #{@lifepath = numerology( @date_search )}):" %></h3>
    <p><%= @numerology_desc[ numerology_index( @lifepath ) ] %></p>
    <p><%= copyright("http://astrology-numerology.com/num-lifepath.html") %></p>
  <% end %>
  </br>
  </br>
  <p><%= link_to "Back to Home (Blurb me!)", root_path(params.permit(:rising, :birth_time, :birth_city, :time_zone, :commit)) %></p>
  <p><%= link_to "Try Another One (Roast me!)", roast_path(params.permit(:rising, :birth_time, :birth_city, :time_zone, :commit)) %></p>
<%# </section> %>