<%# <section class="container"> %>
  <p><h1>Astrology Roast Generator</h1></p>
  <p><%= 'Please enter your birth time and location:' %></p>
  <%= form_with method: :get do |f| %>
    <%= f.label 'Birth Time' %>
    <%= f.datetime_local_field :birth_time, value: @date_search %><br>
    <%= f.label :birth_city %>
    <%= text_field_tag(:birth_city, @birth_city, default: @birth_city, size: 50) %>
    <%= f.submit "Roast me!" %>
  <% end %>
  <% Swe4r::swe_set_ephe_path('') %>
  <% p ['lat,long,,swesettop',@lat,@long], Swe4r::swe_set_topo(@lat, @long, 100) %>
  <%# Swe4r::swe_set_jpl_file("app/lib/linux_p1550p2650.430") %><%# - can't use this function with Swe4r :( %>
  <%# Swe4r::swe_set_topo(@lat, @long, 100) %>
 
  <%# Swe4r - Swiss Ephemeris for Ruby https://www.rubydoc.info/gems/swe4r %>
  <% rising_lon = 0 %>
  <% if @rising == "Unknown" && params[:commit] #params[:time_zone] && params[:birth_time] %>
    <%# User didn't know their rising sign but submitted a form, calculate it for them %>
    <% sun_lon = swe_calc_ut(@julday, 'Sun')[0] %>
    <% rising_lon = swe_houses(@julday,@lat, @long)[1] # swe_houses first element is always 0, next is Asc lon. %>
    <% @rising = lon2sign(rising_lon) %>
  <% end %>
  <% p @julday, '<jd rlon>', rising_lon, @rising, swe_houses(@julday,@lat, @long)[1] %>
<%#### Only show results if form was submitted: %>
  <% if @commit %>
    <% pdata, pstrings, psigns = planet_data(@julday) %>
    <% p pstrings.join(", ") %>
    <% rising_number = zodlist.index(@rising) %>
    </br>
    <p class="blurb"><%= roast(pdata['moon'][0],pdata['sun'][0],pdata['venus'][0],pdata['mars'][0]) %></p>
  <% end %>
  
  <% if @commit %><%# Show planet positions if the user has submitted their birth data. %>
    <%#<p><%= "#{planet.capitalize} in #{lon2sign(lon)} (#{(lon%30).to_i}°#{(lon%1*60).round}')" !!sf-></p>%>
    <p><%= "Life path #{numerology(@date_search)}, lunar year of the #{ eastern(@date_search) }." %></p>
    <p><%= "#{@rising}-rising (#{(rising_lon%30).to_i}°#{(rising_lon%1*60).round}')" %></p>
    <p><%= pstrings.join(", ") %></p>
    </br>
  <% end %>
  <p><%= link_to "Back to Home (Blurb me!)", root_path(params.permit(:rising, :birth_time, :time_zone, :commit)) %></p>
  <p><%= link_to "Birth horoscope reading (Read me!)", reading_path(params.permit(:rising, :birth_time, :time_zone, :commit)) %></p>
<%# </section> %>