<!DOCTYPE html>
<html>
  <head>
    <title>AstroBlurb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# if Rails.env.development? #removed 220423 after Hotwire failed on Windows %>
      <%#= javascript_include_tag "hotwire-livereload", defer: true %>
    <%# end %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body bg-purple"><%# bg-gradient%>
    <header>
      <%= render partial: "layouts/navbar" %>
    </header>
  <section class="container">
    <%= yield %>
  </section>
  </body>
</html>
